.chatbox {
  position: fixed;
  width: 275px;
  display: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border: 0 none;;
}

.chatbox .slimScrollDiv {
  padding: 0 0 15px 0;
  background-color: #ffffff;
}

.chatboxhead {
  background-color: var(--fs-brown);
  padding: 0;
  color: #ffffff;

  border-right: 1px solid #b39985;
  border-left: 1px solid #b39985;
  outline: 0;
}

.chatboxtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.linklist.linkbubble {
  background-color: #ffffff;
  padding: 3px;
}

.linklist.linkbubble:after {
  border-color: #ffffff transparent;
  border-style: solid;
  border-width: 0 7px 8px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.35);
  content: "";
  display: block;
  left: 136px;
  position: absolute;
  top: -6px;
  width: 0;
  z-index: 10;
}

.chatboxhead .linklist {
  left: 88px;
  position: absolute;
  top: 30px;
  width: 180px;
  z-index: 100;
}

.chatboxhead .settings li .optinput {
  padding: 0;
}

.chatboxhead .settings li .optinput i {
  color: var(--fs-brown);
  cursor: pointer;
  font-size: 20px;
  margin-left: -21px;
  position: relative;
  top: 3px;
}

.chatboxhead .settings li .optinput i:hover {
  color: var(--fs-green);
}

.chatboxhead .settings li input {
  border: 1px solid #a2988e;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 4px 5px;
  width: 167px;
}

.chatboxhead .linklist li a {
  border-radius: 4px;
}

.chatboxblink {
  background-color: #61ab23;
  border-right: 1px solid #61ab23;
  border-left: 1px solid #61ab23;
}

.chatboxmessagecontent a {
  color: var(--fs-green);
  text-decoration: none;
}

.chatboxmessagecontent a:hover {
  text-decoration: underline;
}

.chatboxcontent {
  font-size: 13px;
  color: #333333;
  height: 250px !important;
  width: 259px;
  overflow-y: auto;
  padding: 7px !important;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  overflow-x: hidden;
}

.chatboxinput {
  padding: 5px;
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 50px;
}

.chatboxtextarea {
  width: 255px;
  height: 44px;
  padding: 3px 0 3px 3px;
  border: 1px solid #eeeeee;
  margin: 1px;
  overflow: hidden;
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
}

.chatboxtextareaselected {
  border: 2px solid #61ab23;
  margin: 0;
}

.chatboxmessage {
  margin-left: 1em;
  border-bottom: 1px solid #fffffe;
  padding: 5px 0;
}

.chatboxinfo {
  margin-left: -1em;
  color: var(--fs-brown);
  font-size: 12px;
}

.chatboxmessagefrom {
  margin: -5px -5px 0 -15px;
  font-weight: bold;
  display: block;
  float: left;
  width: 45px;
  height: 35px;
}

.chatboxmessage.my-message {
  margin-left: unset;
  margin-right: 1em;
}

.chatboxmessage.my-message .chatboxmessagefrom {
  float: right;
  margin: -5px -25px 0 0px;
}

.chatboxmessage.my-message .chatboxmessagecontent {
  background: none repeat scroll 0 0 var(--fs-beige);
  color: var(--fs-brown);

}

.chatboxmessagefrom .photo {
  display: block;
  margin-right: 4px;
  border-radius: 6px;
}

.chatboxmessagefrom .photo img {
  border-radius: 8px;
}

.chatboxmessagecontent {
  background: none repeat scroll 0 0 #e1e1db;
  border-radius: 6px;
  color: var(--fs-brown);
  display: block;
  font-size: 12px;
  line-height: 1.28;
  padding: 5px;
  width: 236px;
}

.chatboxmessagecontent .time {
  display: block;
  color: var(--fs-brown);
  font-size: 11px;
}

.chatboxmessage.my-message .chatboxmessagecontent .time {
  color: var(--fs-brown);
}

.chatboxoptions {
  float: right;
}

.chatboxoptions a {
  border-radius: 6px;
  background-color: transparent;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 16px;
  margin: 5px 5px 0 0;
  outline: 0 none;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  width: 16px;
}

.chatboxoptions a:hover {
  color: #dbd7d2;
}

.chatboxtitle {
  padding: 7px;
  color: #ffffff;
  display: block;
  float: left;
  width: 205px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  outline: 0;
}

.chatboxtitle i {
  margin-right: 3px;
  position: relative;
  top: -1px;
  color: #ffffff;
}

.chatboxtitle, .chatboxtitle:hover, .chatboxtitle:active, .chatboxtitle:focus {
  outline: 0 !important;
}

.chatboxtitle:hover {
  text-decoration: none;
  color: #ffffff;
}

.conversation-list .pics {
  float: right;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-radius: 4px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 8px;
  text-align: right;
}

.conversation-list .icon {
  border: 0 none;
  float: right;
  font-size: 22px;
  height: 50px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 25px;
}

.conversation-list .icon .img {
  border: 5px solid;
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 14px;
}

.conversation-list .icon .img.yellow {
  border-color: #f2cd00;
}

.conversation-list .icon .img.brown {
  background-color: var(--fs-brown);
}

.conversation-list .icon .img.orange {
  background-color: #f4922f;
}

.conversation-list .icon .img.red {
  background-color: #e64b36;
}

.conversation-list .icon .img.green {
  background-color: var(--fs-green);
}

.conversation-list li > a {
  padding: 6px;
  border-radius: 4px;
}

.conversation-list li a:hover span {
  background-color: transparent !important;
}

.conversation-list .pics img, .conversation-list .pics .avatar {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.conversation-list .msg, #conversation-list .names {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.conversation-list .msg {
  height: 2.5em;
}

.conversation-list .names {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.conversation-list .time {
  color: #b4aba3;
  font-size: 11px;
}

.conversation-list .unread-1 .pics {
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

ul.conversation-list li.unread-1 > a::before {
  content: " ";
  height: 10px;
  width: 10px;
  top: 0px;
  right: 0px;
  padding: 3px;
  border: 2px solid #f9f5e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background: #f44336;
  position: absolute;
  color: #f9f5e0;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
}

