
.stat_item {
  display: inline-block;
  margin: 0;
  width: 330px;
  vertical-align: top;
}

.stat_badge {
  display: inline-block;
  background-color: var(--fs-green);
  border-radius: 300px;
  height: 220px;
  line-height: 300px;
  margin: 0;
  padding: 0;
  width: 220px;
}

.stat_icon {
  color: #FFF;
  font-size: 96px;
  line-height: 220px;
}

.stat_text h4 {
  padding: 0;
  margin: 10px 0;
  font-size: 33px;
  font-family: "Alfa Slab One", serif;
  font-weight: normal;
}

.stat_text, .stat_text h4, .stat_text p {
  text-align: center;
  color: var(--fs-brown);
}

.stat_text h4 {
  height: 40px;
}

.stat_text p {
  display: inline-block;
  height: 85px;
  margin: 0 40px;
}

table.stat_cities {
  border-collapse: inherit;
  width: 255px;
  border-spacing: 0 10px;
}

table.stat_cities {
  vertical-align: top;
}

table.stat_cities .city {
  overflow: hidden;
  line-height: 12px;
}

table.stat_cities td p {
  padding: 0;
  display: block;
  margin: 3px 0 0;
}

table.stat_cities td h4 {
  font-family: "Alfa Slab One", serif;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  color: var(--fs-green);
}

#stat_whole {
  text-align: center;
  padding-top: 20px;
}

.fa-stack {
 width: 200px;
 vertical-align: bottom;
}
.fa-stack i.far.fa-calendar.fa-stack-2x {
 font-size: 1.4em;
 margin-top: 12px;
}
.fa-stack i.fas.fa-shopping-basket.fa-stack-1x {
 font-size: 0.7em;
}
